*.code-workspace
.~lock*
*.vscode
.vscode
C#/TCPTest/TCPClient/obj/
C#/TCPTest/TCPServer/obj/
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser-Test.runtimeconfig.dev.json
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser-Test.deps.json
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/HtmlAgilityPack.NetCore.dll
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/ref/RssFeedParser-Test.dll
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser-Test.dll
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser-Test.exe
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser-Test.pdb
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser-Test.runtimeconfig.json
RssFeedParser-Test/RssFeedParser-Test/bin/Debug/net5.0/RssFeedParser.dll
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/apphost.exe
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/ref/RssFeedParser-Test.dll
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.AssemblyInfo.cs
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.AssemblyInfoInputs.cache
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.assets.cache
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.csproj.AssemblyReference.cache
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.csproj.CopyComplete
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.csproj.CoreCompileInputs.cache
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.csproj.FileListAbsolute.txt
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.dll
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.GeneratedMSBuildEditorConfig.editorconfig
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.genruntimeconfig.cache
RssFeedParser-Test/RssFeedParser-Test/obj/Debug/net5.0/RssFeedParser-Test.pdb
RssFeedParser-Test/RssFeedParser-Test/obj/project.assets.json
RssFeedParser-Test/RssFeedParser-Test/obj/project.nuget.cache
RssFeedParser-Test/RssFeedParser-Test/obj/RssFeedParser-Test.csproj.nuget.dgspec.json
RssFeedParser-Test/RssFeedParser-Test/obj/RssFeedParser-Test.csproj.nuget.g.props
RssFeedParser-Test/RssFeedParser-Test/obj/RssFeedParser-Test.csproj.nuget.g.targets
RssFeedParser-Test/.vs/RssFeedParser-Test/v16/.suo
